:root {
  --color1: white;
  --color2: #dc7e64;
  --color3: #ff6f47;
  --color4: #be2d2dd2;
  --color5: #49cc49;
  --border: white;
  --text: #131313;
  --background-color: linear-gradient(120deg, #e2c35d, #fda085);
  --image1: url("./img/icons8-mond-40.png");
}

.light-mode {
  --color1: rgb(232, 231, 231);
  --color2: #d88771;
  --color3: #571b0a;
  --color4: #571b0a;
  --color5: #571b0a;
  --background-color: linear-gradient(120deg, #2e2d29, #180702);
  --image1: url("./img/icons8-sonne-40.png");
}

.theme-icon{
  width: 40px;
  height: 40px;
  background-image: var(--image1);
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--background-color);
  color: var(--color1);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  color: var(--text);
  -moz-outline-radius: 3px;
}

input:focus{
  outline-color: #dc7e64;
}

form input{
  min-width: 25%;
}

form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  color: var(--color2);
  background: var(--color1);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: var(--color2);
  color: var(--color1);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 65%;
  width: auto;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: var(--color1);
  color: var(--text);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo input {
  flex:  1;
}

.trash-btn, .complete-btn, .edit-btn {
  background: var(--color3);
  color: var(--color1);
  border: 1px solid var(--border);
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.trash-btn {
  background: var(--color4);
}

.complete-btn {
  background: var(--color5);
}

.fa-trash, .fa-check, .fa-pen {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border);
}

select {
  color: var(--text);
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: var(--color3);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover:after {
  background: var(--color2);
  color: var(--color1);
}
